<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.apwdevs.moviecatalogue">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name="id.apwdevs.moviecatalogue.DetailMovies"
            android:label="@string/title_activity_detail_movies"
            android:parentActivityName="id.apwdevs.moviecatalogue.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.apwdevs.moviecatalogue.MainActivity" />
        </activity>
        <activity android:name="id.apwdevs.moviecatalogue.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>